<script>
  import Scroller from '@sveltejs/svelte-scroller';
  
  export let colors = [];
  export let images = [];
  export let content = [];

	let count;
	let index;
	let offset;
  let progress;
  let threshold = 0;

  let fg;

  $: opacity = idx => idx === count - 1 ? 1
      : idx === (index || 0) ? 1 - (offset || 0)
      : idx === (index || 0) + 1 ? 1
      : 0;

  $: {
    if (index >= 0) {
      const body = document.getElementsByTagName('body')[0];
      body.style.backgroundColor = colors[index];
    }
  }

  $: {
    console.log('index: ', index);
  }
</script>

<Scroller
  {threshold}
  bind:count
  bind:index
  bind:offset
  bind:progress
>
  <div slot="background">
    {#each images as imageSrc, idx}
      <img
        src="images/{imageSrc}"
        alt="lighting"
        style="opacity: {opacity(idx)}; z-index: {-(idx + 1)}" />
    {/each}

  </div>

  <div slot="foreground" bind:this={fg}>
    {#each content as node}
      <section>
        {@html node.innerHTML}
      </section>
    {/each}
  </div>
</Scroller>

<style>

  [slot="background"] {
    background: transparent;
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    position: relative;
  }
  
  img {
    height: 50%;
    left: 25%;
    object-fit: cover;
    position: absolute;
    top: 25%;
    width: 50%;
  }

  section {
    background: transparent;
		height: 80vh;
		padding: 1em;
    /* opacity: 0; */
  }
</style>